{% extends "layout.html" %}

{% block title %}
    Manage account
{% endblock %}

{% block header %}
    Manage account
{% endblock %}

{% block main %}
    <div class="accordion accordion-flush" id="accordionFlushExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Deposit Money
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form class="row g-3" action="/manage" method="post">
                        <div>
                            <input autocomplete="off" class="form-control" name="deposit" placeholder="$" type="number" min="1" step="0.01">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" name="action" value="deposit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Change Password
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <form class="row g-3" action="/manage" method="post">
                        <div>
                            <input autocomplete="off" class="form-control" name="current_password" placeholder="Current Password" type="password">
                            <br>
                        </div>
                        <div>
                            <input autocomplete="off" class="form-control" name="new_password" placeholder="New Password" type="password">
                        </div>
                        <div>
                            <input autocomplete="off" class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit" name="action" value="password_change">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}