{% extends "layout.html" %}

{% block title %}
    Menu
{% endblock %}

{% block header %}
    {{ restaurant }}
{% endblock %}

{% block main %}
    <form action="/menu" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <form action="/menu" method="post">
                    {% for product in products %}
                        <tr>
                            <td></td>
                            <td>{{ product['name'] }}</td>
                            <td>{{ usd(product['price']) }}</td>
                            <td>
                                <input type="checkbox" name="products" value="{{ product['name'] }}">
                            </td>
                    {% endfor %}
            </tbody>
        </table>
        <button style="margin-left: 48%" class="btn btn-primary" type="submit">Confirm</button>
    </form>
{% endblock %}