/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

::placeholder {
    text-transform: none;
}

#stock-info {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
  }

#stock-info td, #stock-info th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#stock-info tr:nth-child(even){background-color: #f2f2f2;}

#stock-info tr:hover {background-color: #ddd;}

#stock-info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#portfolio {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }

#portfolio td, #portfolio th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#portfolio tr:nth-child(even){background-color: #f2f2f2;}

#portfolio tr:hover {background-color: #ddd;}

#portfolio th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#portfolio-info {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#history {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }

#history td, #history th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#history tr:nth-child(even){background-color: #f2f2f2;}

#history tr:hover {background-color: #ddd;}

#history th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#history-info {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


#foot th {
    background-color: white;
    color: black;
    border: none;
    font-weight: normal;
}

#sell-btn, #buy-btn {
    display: inline-block;
}

#stock-buy {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 1cm;
  }

#stock-buy td, #stock-buy th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#stock-buy tr:nth-child(even){background-color: #f2f2f2;}

#stock-buy tr:hover {background-color: #ddd;}

#stock-buy th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

#stock-sell {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
    margin-bottom: 1cm;
  }

#stock-sell td, #stock-sell th {
    border: 1px solid #ddd;
    padding: 8px;
  }

#stock-sell tr:nth-child(even){background-color: #f2f2f2;}

#stock-sell tr:hover {background-color: #ddd;}

#stock-sell th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

.form-control {
  margin-bottom: 0.5cm;
}


#current {
  margin-bottom: 1cm;
}